:root {
    --light: white;
    --dark: purple;
    --gradient: rgba(232, 102, 236, 0.3) 0%,
                rgba(232, 102, 236, 0.6) 100%
    --title border: border-radius: 5px;
    --
}
body {
   
}